.main {
    max-width: 1200px;
    margin: 0 auto;
    color: #777;
}

.main-inner{
    text-align: center;
}

.main-title {
    font-size: 27px;
}

.contact-form {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 20px;
    width: 1000px;
    gap: 100px;
}

.contact-label {
    font-weight: bold;
    width: 200px;
    text-align: left;
}

.contact-label p{
    margin: 0;
}

.contact-item {
    width: 700px;
}

.contact-name{
    display: flex;
    align-items: center;
    gap: 40px;
}

.gender-group {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
    margin-left: 15px;
}

.contact-group{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name-input {
    width: 100%;
    padding: 12px;
}

.email-input{
    width: 100%;
    padding: 12px;
}

.tel-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tel-input {
    padding: 12px 0px;
    text-align: center;
    width: 200px;
}

.address-input{
    padding: 12px;
}

.building-input{
    padding: 12px;
}

.content-group{
    width: 350px;
    position: relative;
}

.content-group::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 8px;
    pointer-events: none;
}

.content-input {
    padding: 12px;
    width: 100%;
    color: #999;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-input:valid {
    color: #000;
}

textarea.detail-input{
    height: 150px;
    padding: 12px;
}

.contact-submit input {
    padding: 10px;
    width: 150px;
    cursor: pointer;
    color: #fff;
    background: #777;
    border-radius: 3px;
}

input,
select,
textarea{
    border: none;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 12px;
}

.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}