.register-field {
    margin: 0px auto;
    padding: 30px 15px;
    background: rgb(238, 238, 238);
    min-height: 100vh;
}

.register-heading {
    margin-bottom: 20px;
    text-align: center;
    color: #777;
    }

.register {
    width: 600px;
    height: 550px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    padding: 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.register-inner {
    width: 500px;
    margin: 0 auto;
}

.register-group {
    margin-bottom: 5px;
}

.register-title {
    text-align: left;
}

.register-label {
    font-size: 18px;
    color: #555;
}

.register-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.register-input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    appearance: none;
    margin-top: 20px;
    background: #eee;
    border: none;
    padding: 25px;
}

.register-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.register-submit {
    padding: 15px;
    width: 30%;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}