.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-inner{
    text-align: center;
}

.thanks-message{
    color: #777;
    margin-bottom: 40px;
}

.thanks-home {
    text-decoration: none;
    color: #fff;
    background: #999;
    padding: 8px 20px;
    border-radius: 3px;
}

.thanks-home:hover{
    background: rgba(0,0,0,0.3);
}
